{% extends 'master.html' %}
{% load static %}
{% load djmoney %}
{% load l10n %}
{% load i18n %}
{% block style %}
<style>
  .required {
    color: red;
  }

  .submit-row {
    display: display;
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
  }
</style>
{% endblock style  %}
{% block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>

      <div class="text-zero top-right-button-container">
        <a href="{% url 'orders:list-po'%}">
          <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">BACK TO LIST</button>
        </a>
      </div>
      <div class="separator mb-5"></div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">

      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Supplier</label>
            {{po_form.supplier}}
          </div>
          <div class="form-group col-md-6">
            <label>Code</label>
            {{po_form.code}}
          </div>
          <div class="form-group col-md-6">
            <label>Date</label>
            {{po_form.date}}
          </div>

          <div class="form-group col-md-6">
            <label>Status</label>
            {{po_form.status}}
          </div>
        </div>

        <table class="table table-bordered" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
          <thead class="thead-light">
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">#</th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Item" %}</th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Quantity" %}</th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Unit" %}</th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Price per unit" %}</th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Total Price" %}</th>

            </tr>
          </thead>
          {{ po_transaction_inlineformset.management_form }}

          {% for form in po_transaction_inlineformset %}
          {{ form.id }}
          {{ form.media }}
          <tbody>
            <tr role="row">
              <td class="sorting_1">{{ forloop.counter }}</td>
              <td class="form-group3">{{form.item}}</td>
              <td class="form-group2">{{ form.quantity}}</td>
              <td>{{form.uom_dummy}}</td>
              <td id="cost">{{form.unit_price_dummy}}</td>
              <td>{{form.total_price}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="button" id="add_more" class="btn cur-p btn-success" data-toggle="modal" data-target="#itemModal">{% trans "Add Inventory Item"%}
        </button>

        <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="itemModalLabel">Add Inventory To Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-body">
                        <table style="width: 100%;margin-top:40px;">
                          <tbody>
                            {% for item in items %}
                            <div class="mb-4">
                              <tr>
                                <td style="padding-top:0px; padding-bottom:5px;">
                                  <p class="list-item-heading mb-1 color-theme-1">
                                    {{item|capfirst}}</p>
                                  <p class="mb-1 text-muted text-small">Category:
                                    {{item.product.category}}</p>
                                  <p class="mb-1 text-muted text-small">Selling Price:
                                    {{item.selling_price}}</p>
                                </td>
                                <td>
                                  <button onclick=myFunction(item=item) id="add_item" class="btn btn-light default mb-1">{% trans "Add
                                                                    Item"%}
                                  </button>
                                </td>
                              </tr>
                            </div>
                            {% endfor %}
                          </tbody>

                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-row">
          <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save'>Save</button>
          <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save and exit'>Save and Exit
          </button>
          <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save and add'>Save and Add</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
    function myAction(object) {
           console.log("HIIIIIIIIIIIIIIIIIIIIIIII")
          item = object.value
          if ( item !==""){
                var str = object.id
                var res= str.split("-")
                var id_prefix = res[0]+'-'+res[1]
                uom_id = id_prefix+'-'+'uom_dummy'
                price_id = id_prefix+'-'+'unit_price_dummy'
                quantity_id =  id_prefix+'-'+'quantity'
                $.ajax({
                type: "get",
                url: "item/"+item,
                contentType: 'application/json',
                success: function(data){
                      document.getElementById(uom_id).value=data['uom']
                      document.getElementById(price_id).value=data['avg_cost']

                },
                error: function(){
                    alert("error");
                }
                 });
                 if (document.getElementById(quantity_id).value){
                     console.log("I am hereeeeeeeeeeeee");
                   myFunction(document.getElementById(quantity_id));
                 };
            };

            };
var grand_total = 0
function myFunction(object) {

    console.log("Byyeeee")

    var str = object.id;
    var res= str.split("-");
    var id_prefix = res[0]+'-'+res[1];
    item_id = id_prefix+'-'+'item';
    price_id = id_prefix+'-'+'unit_price_dummy';
    total_price_id = id_prefix+'-'+'total_price_0';
    item =  document.getElementById(item_id).value
    if ( item !==""){
                $.ajax({
                type: "get",
                url: "item/"+item,
                contentType: 'application/json',
                success: function(data){
                        var price_per_item = data['avg_cost']
                        var total_per_item = price_per_item * object.value;
                        document.getElementById(total_price_id).value = total_per_item;
                        grand_total += total_per_item;
                        document.getElementById("id_total_price_0").value = grand_total;

                },
                error: function(){
                    alert("error");
                }
                 });

        };

};

function grandTotal(){
}


</script>
{% endblock js %}
