{% extends 'master.html' %}
{% load static %}
{% load djmoney %}
{% load l10n %}
{% load i18n %}
{% block style %}
<style>
  .required {
    color: red;
  }

  .submit-row {
    display: display;
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
  }
</style>
{% endblock style  %}
{% block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>

      <div class="text-zero top-right-button-container">
        <a href="{% url 'orders:list-po'%}">
          <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">BACK TO LIST</button>
        </a>
      </div>
      <div class="separator mb-5"></div>
    </div>
  </div>

  <div class="card mb-4">

      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Supplier</label>
            {{po_form.supplier}}
          </div>
          <div class="form-group col-md-6">
            <label>Code</label>
            {{po_form.code}}
          </div>
          <div class="form-group col-md-6">
            <label>Date</label>
            {{po_form.date}}
          </div>

          <div class="form-group col-md-6">
            <label>Status</label>
            {{po_form.status}}
          </div>
          <div class="form-group col-md-6">
            <label>Grand Total</label>
            {{po_form.total_price}}
          </div>
        </div>


        <table class="table table-bordered" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
          <thead class="thead-light">
            <tr role="row">
              <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">#</th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Item" %}</th>
              <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Quantity" %}</th>
              <th style="width:15%" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Unit" %}</th>
              <th style="width:30%" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Price per unit" %}</th>
              <th style="width:50%"  tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Total Price" %}</th>

            </tr>
          </thead>
          {{ po_transaction_inlineformset.management_form }}
           <tbody id="purchase_set">
            {% for form in po_transaction_inlineformset %}
            {{ form.id }}
            {{ form.media }}
            <tr role="row">
              <td>{{ forloop.counter }}</td>
              <td>{{form.item}}</td>
              <td>{{ form.quantity}}</td>
              <td>{{form.uom_dummy}}</td>
              <td>{{form.unit_price_dummy}}</td>
              <td>{{form.total_price}}</td>
            </tr>
            {% endfor %}
           </tbody>


        </table>

        <button type="button" id="add_item" class="btn cur-p btn-success">{% trans "Add Inventory Item"%}</button>
        <div id="empty_form" style="display:none">
          <table class="table table-bordered" role="grid" aria-describedby="DataTables_Table_0_info">
            <tbody>
            <tr role="row">
              <td>{{ forloop.counter }}</td>
              <td>{{po_transaction_inlineformset.empty_form.item}}</td>
              <td>{{po_transaction_inlineformset.empty_form.quantity}}</td>
              <td>{{po_transaction_inlineformset.empty_form.uom_dummy}}</td>
              <td>{{po_transaction_inlineformset.empty_form.unit_price_dummy}}</td>
              <td>{{po_transaction_inlineformset.empty_form.total_price}}</td>
            </tr>
            </tbody>
          </table>
        </div>


        <div class="submit-row">
          <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save'>Save</button>
          <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save and exit'>Save and Exit
          </button>
          <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save and add'>Save and Add</button>
        </div>
      </form>
    </div>
</div>
{% endblock body %}

{% block js %}
<script>
    function myAction(object) {
           console.log("HIIIIIIIIIIIIIIIIIIIIIIII")
          item = object.value
          if ( item !==""){
                var str = object.id
                var res= str.split("-")
                var id_prefix = res[0]+'-'+res[1]
                uom_id = id_prefix+'-'+'uom_dummy'
                price_id = id_prefix+'-'+'unit_price_dummy'
                quantity_id =  id_prefix+'-'+'quantity'
                $.ajax({
                type: "get",
                url: "item/"+item,
                contentType: 'application/json',
                success: function(data){
                      document.getElementById(uom_id).value=data['uom']
                      document.getElementById(price_id).value=data['avg_cost']

                },
                error: function(){
                    alert("error");
                }
                 });
                 if (document.getElementById(quantity_id).value){
                     console.log("I am hereeeeeeeeeeeee");
                      grandTotal();
                   myFunction(document.getElementById(quantity_id));
                 };
            };

            };
</script>

<script>
function myFunction(object) {

    console.log("Byyeeee")

    var str = object.id;
    var res= str.split("-");
    var id_prefix = res[0]+'-'+res[1];
    item_id = id_prefix+'-'+'item';
    price_id = id_prefix+'-'+'unit_price_dummy';
    total_price_id = id_prefix+'-'+'total_price_0';
    item =  document.getElementById(item_id).value
    if ( item !==""){
                $.ajax({
                type: "get",
                url: "item/"+item,
                contentType: 'application/json',
                success: function(data){
                        var price_per_item = data['avg_cost']
                        var total_per_item = price_per_item * object.value;
                        document.getElementById(total_price_id).value = total_per_item;
                        grandTotal();

                },
                error: function(){
                    alert("error");
                }
                 });

        };

};
</script>

<script>
function grandTotal(){
    var x = document.getElementsByClassName("unique-class");
    var i;
    var grand_total = 0;
    for (i = 0; i < x.length; i++) {
      if (x[i].value){
        grand_total = grand_total + Number(x[i].value);
        }
     }
    document.getElementById("id_total_price_0").value = grand_total;

}
</script>
<script>
  $('#add_item').click(function() {
    var form_idx = $('#id_purchasetransaction_set-TOTAL_FORMS').val();
    $('#purchase_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_purchasetransaction_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
  });
</script>
{% endblock js %}