{% extends 'master.html' %}
{% load static %}
{% load djmoney %}
{% load l10n %}
{% load i18n %}
{% block style %}
<style>
  .required {
    color: red;
  }

  .submit-row {
    display: display;
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
  }

</style>
{% endblock style  %}
{% block body%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{{title}}</h1>

            <div class="text-zero top-right-button-container">
                <a href="{% url 'orders:list-so'%}">
                    <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">BACK TO LIST</button>
                </a>
            </div>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card">
            <div class="card-body">
                <form method="POST" id="myform" onsubmit="setFormSubmitting()">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Customer</label>
                            {{so_form.customer}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Name</label>
                            {{so_form.order_name}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Code</label>
                            {{so_form.sale_code}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Date</label>
                            {{so_form.date}}
                        </div>
                        <div class="form-group col-md-3">
                            <label>Grand Total (EGP)</label>
                            {{so_form.subtotal_price}}
                        </div>
                    </div>
                    <div class="separator mb-5"></div>
                    <div class="row" style="margin-left:0px;">
                        <div class="col-md-12">
                            <div class="bgc-white bd bdrs-3 p-20 mB-20">
                                <div id="purchase_set">
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>{% trans "Item" %}</label>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>{% trans "Location" %}</label>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label>{% trans "Quantity" %}</label>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label>{% trans "Unit" %}</label>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label>{% trans "Cost per unit (EGP)" %}</label>
                                        </div>
                                        <div class="form-group col-md-1">
                                            <label>{% trans "Selling price per unit (EGP)" %}</label>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>{% trans "Total Price (EGP)" %}</label>
                                        </div>

                                    </div>
                                    {{ so_transaction_inlineformset.management_form }}
                                    {% for form in so_transaction_inlineformset %}
                                    {{ form.id }}
                                    {{ form.media }}
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            {{form.item}}
                                        </div>
                                        <div class="form-group col-md-2">
                                            {{ form.location}}
                                        </div>
                                        <div class="form-group col-md-1">
                                            {{ form.quantity}}
                                        </div>
                                        <div class="form-group col-md-1">
                                            {{form.temp_uom}}
                                        </div>
                                        <div class="form-group col-md-1">
                                            {{form.temp_unit_cost}}
                                        </div>
                                        <div class="form-group col-md-1">
                                            {{form.price_per_unit}}
                                        </div>
                                        <div class="form-group col-md-2">
                                            {{form.total_price}}
                                        </div>

                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                    </div>


                    <button type="button" id="add_item" class="btn cur-p btn-success">{% trans "Add Inventory Item"%}
                    </button>
                    <div id="empty_form" style="display:none">
                        <table class='no_error'>
                            <div class="form-row">
                                {{ so_transaction_inlineformset.empty_form.media }}
                                <div class="form-group col-md-4">
                                    {{ so_transaction_inlineformset.empty_form.item}}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ so_transaction_inlineformset.empty_form.location}}
                                </div>
                                <div class="form-group col-md-1">
                                    {{ so_transaction_inlineformset.empty_form.quantity}}
                                </div>
                                <div class="form-group col-md-1">
                                    {{ so_transaction_inlineformset.empty_form.temp_uom}}
                                </div>
                                <div class="form-group col-md-1">
                                    {{ so_transaction_inlineformset.empty_form.temp_unit_cost }}

                                </div>
                                <div class="form-group col-md-1">
                                    {{ so_transaction_inlineformset.empty_form.price_per_unit }}
                                </div>
                                <div class="form-group col-md-2">
                                    {{ so_transaction_inlineformset.empty_form.total_price}}
                                </div>

                            </div>
                        </table>
                    </div>

                    <div class="submit-row">
                        <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save'>Save</button>
                        <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save and exit'>Save and Exit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script>
   $('#myform').on('submit', function() {
for (i = 0; i < $('#id_salestransaction_set-TOTAL_FORMS').val(); i++) {
    $('#id_salestransaction_set-'+i+'-total_price').prop('disabled', false);

    }
         $('#id_subtotal_price').prop('disabled', false);
});

</script>
<script>
    function myAction(object) {
          item = object.value
          var endpoint = '{% url "orders:get-item" -1 %}'.replace('-1', item);
          if ( item !==""){
                var str = object.id
                var res= str.split("-")
                var id_prefix = res[0]+'-'+res[1]
                uom_id = id_prefix+'-'+'temp_uom'
                price_id = id_prefix+'-'+'price_per_unit'
                quantity_id =  id_prefix+'-'+'quantity'
                cost_id = id_prefix+'-'+'temp_unit_cost'
                location_id = id_prefix+'-'+'location'
                mylocation = document.getElementById(location_id).value
                console.log(mylocation)
                $.ajax({
                type: "get",
                url: endpoint,
                contentType: 'application/json',
                success: function(data){
                  document.getElementById(uom_id).value=data['uom']
                  if (mylocation !== ""){
                     var flag = false;
                     for (i = 0; i < data['balance'].length; i++) {
                          if (mylocation == data['balance'][i]['location'] ){
                                                        flag = true;

                              document.getElementById(quantity_id).placeholder = data['balance'][i]['qnt'];
                              document.getElementById(cost_id).value = data['balance'][i]['unit_cost'];
                          };
                     };
                     if (flag == false){
                            document.getElementById(quantity_id).placeholder = "";
                            document.getElementById(cost_id).value = "";
                     }
                  }
                 else {
                    document.getElementById(quantity_id).placeholder = "";
                    document.getElementById(cost_id).value = "";
                }
                      if (document.getElementById(quantity_id).value){
                        myFunction(document.getElementById(quantity_id));
                      };


                },
                error: function(){
                    alert("error");
                }
                 });

            };

    };

</script>

<script>
function myFunction(object) {

    var str = object.id;
    var res= str.split("-");
    var id_prefix = res[0]+'-'+res[1];
    item_id = id_prefix+'-'+'item';
    price_id = id_prefix+'-'+'price_per_unit';
    total_price_id = id_prefix+'-'+'total_price';
    quantity_id = id_prefix+'-'+'quantity';
    quantity = document.getElementById(quantity_id).value;
    item =  document.getElementById(item_id).value;
    price = document.getElementById(price_id).value;
    if (price){

            var total_per_item = price * quantity;
            document.getElementById(total_price_id).value = total_per_item;
            grandTotal();



        };

};

</script>

<script>
function grandTotal(){
    var x = document.getElementsByClassName("unique-class");
    var i;
    var grand_total = 0;
    for (i = 0; i < x.length; i++) {
      if (x[i].value){
        grand_total = grand_total + Number(x[i].value);
        };
     };
     console.log(grand_total)
    document.getElementById("id_subtotal_price").value = grand_total;

}

</script>
<script>
  $('#add_item').click(function() {
    var form_idx = $('#id_salestransaction_set-TOTAL_FORMS').val();
    $('#purchase_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_salestransaction_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    var current_indx = Number(form_idx)





  });

</script>
<script>
function inventory(object) {
   var str = object.id;
    var res= str.split("-");
    var id_prefix = res[0]+'-'+res[1];
    item_id = id_prefix+'-'+'item';
    quantity_id =  id_prefix+'-'+'quantity'
    price_id = id_prefix+'-'+'temp_unit_cost'
    item = document.getElementById(item_id).value;

     if (item !==""){
        var endpoint = '{% url "orders:get-item" -1 %}'.replace('-1', item);
       $.ajax({
                type: "get",
                url: endpoint,
                contentType: 'application/json',
                success: function(data){
                      var flag = false;
                      for (i = 0; i < data['balance'].length; i++) {
                      if (object.value == data['balance'][i]['location']){
                            flag=true;
                          document.getElementById(quantity_id).placeholder = data['balance'][i]['qnt'];
                        document.getElementById(price_id).value = data['balance'][i]['unit_cost'];

                      };
                    };
                    if (flag == false){
                     document.getElementById(quantity_id).placeholder = '';
                     document.getElementById(price_id).value='';
                    };



                },
                error: function(){
                    alert("error");
                }
                 });

            };

    };

</script>
<script>
var formSubmitting = false;
var setFormSubmitting = function() { formSubmitting = true; console.log("ENTEREERERD"); };

window.onload = function() {
    window.addEventListener("beforeunload", function (e) {
        if (formSubmitting) {
            return undefined;
        }

        var confirmationMessage = 'It looks like you have been editing something. '
                                + 'If you leave before saving, your changes will be lost.';

        (e || window.event).returnValue = confirmationMessage; //Gecko + IE
        return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
    });
};
</script>

{% endblock js %}