{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Receivings</h1>
      {% if status != 'closed' %}
      <div class="text-zero top-right-button-container">
        <a href="{% url 'orders:create-receiving2' id=pk %}"><button type="button" class="btn btn-primary btn-lg top-right-button mr-1">ADD NEW</button></a>
      </div>
      {% endif %}
       <div class="text-zero top-right-button-container">
          <a href="{% url 'orders:list-po-for-receiving'%}">
              <button type="button" class="btn btn-secondary btn-lg top-right-button mr-1">BACK TO LIST</button>
          </a>
        </div>
      <div class="separator mb-5"></div>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row view-filter">
              <div class="col-sm-12">
              </div>
            </div>
            <table class="data-table data-table-feature4 dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 155.4px;">#</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Transaction code" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" style="width: 105.8px;">{% trans "Date" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Salary: activate to sort column ascending" style="width: 86.6px;">{% trans "Actions" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for receiving in receivings %}
                <tr role="row" class="odd">
                  <td class="sorting_1">{{ forloop.counter }}</td>
                  <td>{{ receiving.transaction_code }}</td>
                  <td>{{ receiving.date }}</td>
                  <td>
                     <div class="d-inline-block">
                      <a class="btn btn-outline-primary mb-1" href="{% url 'orders:view-rec' id=receiving.id %}" role="button">View</a>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock body%}

