{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>Receivings</h1>

      <div class="text-zero top-right-button-container">
        <a href="{% url 'orders:create-receiving' id=pk %}"><button type="button" class="btn btn-primary btn-lg top-right-button mr-1">ADD NEW</button></a>
      </div>
      <div class="separator mb-5"></div>
    </div>
  </div>
</div>
{% endblock body %}