{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>View Sale Order</h1>

      <div class="text-zero top-right-button-container">
            <a onclick="window.print(); return false;" class="btn btn-primary btn-lg top-right-button mr-1" href="#">Print</a>
              <a href="{% url 'orders:list-so'%}"><button type="button" class="btn btn-secondary btn-lg top-right-button mr-1">BACK TO LIST</button></a>

      </div>
      <div class="separator mb-5"></div>
    </div>
  </div>
  <div class="card mb-4">
        <div class="card-body">
             <div class="row">
                 <div class="col-12">
             <h2> Sale Order Details</h2>
                      <div class="separator mb-5"></div>
                 </div>
             </div>
          <div class="form-row">
              <div class="form-group col-md-3">
                <b>Customer: </b>
                {{so.customer}}
              </div>
            
               <div class="form-group col-md-3">
                <b>Code: </b>
                {{so.sale_code}}
              </div>
              <div class="form-group col-md-3">
                <b>Date of SO:</b>
                {{so.date}}
              </div>


            </div>
                               <div class="separator mb-5"></div>

          <table class="table table-bordered" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 155.4px;">{% trans "Item" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Quantity" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Unit" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Price Per Unit (EGP)" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Subtotal Price (EGP)" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Tax (EGP)" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Discount" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Total Price" %}</th>

                </tr>
              </thead>
              <tbody>
              {% for so_line in so_lines %}
                <tr role="row" class="odd">
                  <td class="sorting_1">{{ so_line.item}}</td>
                  <td>{{ so_line.quantity }}</td>
                  <td>{{ so_line.item.uom }}</td>
                  <td>{{ so_line.price_per_unit }}</td>
                  <td>{{ so_line.total_price }}</td>
                  <td>{{ so_line.item_tax }}</td>
                  <td>{{ so_line.item_discount }}</td>
                  <td>{{ so_line.subtotal_price_after_tax }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                    <td style="text-align: right; padding-top:0px; padding-bottom:0; vertical-align:middle; padding:30px; background-color: #f9f9f9; border-radius: 3px; border-left: 5px solid white;">
                        <p style="color:#8f8f8f; font-size: 14px; padding: 0; line-height: 1.6; margin:0; ">
                           <b>Subtotal:</b>     {{so.subtotal_price}} EGP
                            <br>
                             <b>Tax (VAT): </b> {{so.total_tax}} %
                             <br>
                             <b>Subtotal after taxes:</b>     {{so.subtotal_price_after_tax}} EGP
                             <br>
                             <b>Discount:</b>     {{so.discount}} EGP
                            <br>
                            <b>Grand Total: </b> {{so.grand_total}} EGP
                        </p>
                    </td>
                    </tr>
                </tbody>
            </table>


     </div>
  </div>
</div>
{% endblock body %}