{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>View Purchase Order</h1>

      <div class="text-zero top-right-button-container">

          {% if flag == 'True' %}
          <div class="d-inline-block">
              <a class="btn btn-outline-primary btn-lg top-right-button mr-1" href="{% url 'orders:list-receiving' id=po.id return_to=return_to %}" role="button">View Receivings</a>
            </div>
              <a href="{% url 'orders:list-po-for-receiving'%}"><button type="button" class="btn btn-secondary btn-lg top-right-button mr-1">BACK TO LIST</button></a>
          {% elif flag == 'False' %}
              <a href="{% url 'orders:list-po'%}"><button type="button" class="btn btn-secondary btn-lg top-right-button mr-1">BACK TO LIST</button></a>
          {% endif %}
      </div>
      <div class="separator mb-5"></div>
    </div>
  </div>
  <div class="card mb-4">
        <div class="card-body">
             <div class="row">
                 <div class="col-12">
             <h2> Purchase Order Details</h2>
                      <div class="separator mb-5"></div>
                 </div>
             </div>
          <div class="form-row">
              <div class="form-group col-md-3">
                <b>Supplier: </b>
                {{po.supplier}}
              </div>
              <div class="form-group col-md-3">
                <b>Name: </b>
                {{po.order_name}}
              </div>
               <div class="form-group col-md-3">
                <b>Code: </b>
                {{po.purchase_code}}
              </div>
              <div class="form-group col-md-3">
                <b>Date of PO:</b>
                {{po.date}}
              </div>

            </div>
                               <div class="separator mb-5"></div>

          <table class="table table-bordered" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 155.4px;">{% trans "Item" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Quantity" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Unit" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Price Per Unit (EGP)" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Total Price (EGP)" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 263.4px;">{% trans "Total After Discount (EGP)" %}</th>

                </tr>
              </thead>
              <tbody>
              {% for po_line in po_lines %}
                <tr role="row" class="odd">
                  <td class="sorting_1">{{ po_line.item}}</td>
                  <td>{{ po_line.quantity }}</td>
                  <td>{{ po_line.uom }}</td>
                  <td>{{ po_line.price_per_unit }}</td>
                  <td>{{ po_line.total_price }}</td>
                  <td>{{ po_line.total_price_after_discount }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            <table style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="text-align: right; padding-top:0px; padding-bottom:0; vertical-align:middle; padding:30px; background-color: #f9f9f9; border-radius: 3px; border-left: 5px solid white;">
                            <p style="color:#8f8f8f; font-size: 14px; padding: 0; line-height: 1.6; margin:0; ">
                               <b>Total:</b>     {{po.global_price}} EGP
                                <br>
                                {% if po.discount_type == 'percentage' %}
                                    <b>Discount: </b>   {{po.discount}} %
                                {% else %}
                                     <b>Discount: </b>   {{po.discount}} EGP
                                {% endif %}
                                <br>
                                <b>Grand Total: </b> {{po.global_price_after_discount}} EGP
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>


     </div>
  </div>
</div>
{% endblock body %}