{% load static %}
{% load i18n %}
{% load l10n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}

<div class="nav">
  <a class="nav-link" href="{% url 'home:homepage'%}">
    <div class="sb-nav-link-icon">
      <i class="fas fa-tachometer-alt"></i></div>
    Dashboard
  </a>


  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#productsMenu" aria-expanded="false" aria-controls="collapsePages">
    <div class="sb-nav-link-icon">
      <i class="fab fa-product-hunt"></i>
    </div>
    Products
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="productsMenu" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseProduct" aria-expanded="false" aria-controls="pagesCollapseAuth">Products
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i></div>
      </a>
      <div class="collapse" id="pagesCollapseProduct" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="{% url 'inventory:list-products'%}">Products</a>
          <a class="nav-link" href="{% url 'inventory:list-attributes'%}">Attributes</a>
          <a class="nav-link" href="{% url 'inventory:list-brands'%}">Brands</a>
          <a class="nav-link" href="{% url 'inventory:list-categories'%}">Categories</a>
        </nav>
      </div>
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#pagesCollapseStocktak" aria-expanded="false" aria-controls="pagesCollapseError">Stocktaking
        <div class="sb-sidenav-collapse-arrow">
          <i class="fas fa-angle-down"></i>
        </div>
      </a>
      <div class="collapse" id="pagesCollapseStocktak" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
        <nav class="sb-sidenav-menu-nested nav">
          <a class="nav-link" href="{% url 'inventory:list-stokes'%}">Stocktak</a>
          <a class="nav-link" href="{% url 'inventory:list-stokes-for-entry' %}">Stocktak Entry</a>
          <a class="nav-link" href="{% url 'inventory:list-stokes-for-approval' %}">Approve Stocktak</a>
        </nav>
      </div>
    </nav>

    <a class="nav-link" href="{% url 'account:list-customers'%}">
      <div class="sb-nav-link-icon">
        <i class="fas fa-tachometer-alt"></i></div>
      Taxing
    </a>
    <a class="nav-link" href="{% url 'inventory:list-uom'%}">
      <div class="sb-nav-link-icon">
        <i class="fas fa-tachometer-alt"></i></div>
      UOM
    </a>
  </div>

  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ordersLayouts" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon">
      <i class="fas fa-archive"></i>
    </div>
    Orders
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="ordersLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <a class="nav-link" href="{% url 'orders:list-po'%}">Purchase Orders</a>
      <a class="nav-link" href="{% url 'orders:list-so'%}">Sales Orders</a>
    </nav>
  </div>

  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#transactionsLayouts" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon">
      <i class="far fa-calendar-alt"></i>
    </div>
    Transactions
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="transactionsLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <a class="nav-link" href="{% url 'orders:list-po-for-receiving' %}">Receiving</a>
      <a class="nav-link" href="#">Return Receiving</a>
      <a class="nav-link" href="#">Shipping</a>
      <a class="nav-link" href="#">Return Shipping</a>
    </nav>
  </div>

  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#locationLayouts" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon">
      <i class="fas fa-archway"></i>
    </div>
    Locations
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="locationLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <a class="nav-link" href="{% url 'location:list-locations'%}">Warehouses</a>
    </nav>
  </div>

  <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#accountsLayouts" aria-expanded="false" aria-controls="collapseLayouts">
    <div class="sb-nav-link-icon">
      <i class="far fa-address-book"></i>
    </div>
    Accounts
    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
  </a>
  <div class="collapse" id="accountsLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
    <nav class="sb-sidenav-menu-nested nav">
      <a class="nav-link" href="{% url 'account:list-customers'%}">Customers</a>
      <a class="nav-link" href="{% url 'account:list-suppliers'%}">Suppliers</a>
    </nav>
  </div>


  <div class="sb-sidenav-menu-heading">Reports</div>


</div>
