{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block style %}
<style>

  .required
  {
      color: red;
  }
.submit-row {
    display: display;
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
}
</style>
{% endblock style  %}

{% block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>{{title}}</h1>
      <div class="text-zero top-right-button-container">
        <a href="{% url 'inventory:list-brands'%}"><button type="button" class="btn btn-primary btn-lg top-right-button mr-1">{% trans "BACK TO LIST" %}</button></a>
      </div>
      <div class="separator mb-5"></div>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">

      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Brand Name <span class="required">*</span></label>
            {{brand_form.name}}
          </div>
          <div class="form-group col-md-6">
            <label>Brand Description <span class="required">*</span></label>
            {{brand_form.description}}
          </div>
        </div>
        <div class="submit-row">
          <button type="submit" class="btn btn-primary btn-lg mt-3" name ='Save'>Save</button>
          <button type="submit" class="btn btn-primary btn-lg mt-3" name ='Save and exit'>Save and Exit</button>
          <button type="submit" class="btn btn-primary btn-lg mt-3" name ='Save and add'>Save and Add</button>
        </div>
      </form>
    </div>
  </div>

</div>

{% endblock body%}
