{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}
{% block style %}
<style>

  .required
  {
      color: red;
  }
.submit-row {
    display: display;
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
}




</style>
{% endblock style  %}
{% block body%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{{title}}</h1>
            <div class="text-zero top-right-button-container">
                <a href="{% url 'inventory:list-products'%}">
                    <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">{% trans "BACK TO LIST"%}
                    </button>
                </a>
            </div>
            <div class="separator mb-5"></div>
        </div>
    </div>
    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Attribute</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" id="attribute_form">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>Attribute Name <span class="required">*</span></label>
                                {{attribute_form.name}}
                            </div>
                            <div class="form-group col-md-12">
                                <label>Attribute Display Name </label>
                                {{attribute_form.display_name}}
                            </div>
                            <div class="form-group col-md-12">
                                <label>Attribute Type </label>
                                {{attribute_form.att_type}}
                            </div>
                        </div>
                        <div id="results"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                            <button type="submit" class="btn btn-primary" name='Save'>Save Changes</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="card mb-12">
        <div class="card-body">
            <h2 class="mb-4">Item Info </h2>
            <div class="separator mb-5"></div>

            <form method="POST">
                {% csrf_token %}

                <div class="form-row">
                    <div class="input-group  mb-3">
                        <div class="input-group-prepend  input-group-sm col-md-6" id="brand">
                            <span class="input-group-text">Brand</span>
                            {{product_form.brand}}
                        </div>


                        <div class="input-group-prepend input-group-sm col-md-6">
                            <span class="input-group-text">Category</span>
                            {{product_form.category}}
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend input-group-sm col-md-6">
                            <span class="input-group-text">Item Name</span>
                            {{item_form.name}}
                        </div>
                        <div class="input-group-prepend input-group-sm col-md-6">

                            <span class="input-group-text">UOM</span>
                            {{item_form.uom}}
                        </div>
                    </div>
                </div>


                <div class="form-row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend input-group-sm col-md-6">
                            <span class="input-group-text">SKU</span>
                            {{item_form.sku}}
                        </div>

                        <div class="input-group-prepend input-group-sm col-md-6">
                            <span class="input-group-text">Barcode</span>
                            {{item_form.barcode}}
                        </div>
                    </div>

                </div>
                <div class="form-row">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend  col-md-12">
                            <span class="input-group-text">Item Description</span>
                            {{item_form.description}}
                        </div>
                    </div>
                </div>


                <div class="separator mb-5"></div>

                <h2>Item Attributes</h2>
                <div class="separator mb-5"></div>

                <div class="row" style="margin-left:0px;">
                    <div class="col-md-12">
                        <div class="bgc-white bd bdrs-3 p-20 mB-20">
                            <div id="attribute_set">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <b><label>{% trans "Attribute" %}</label></b>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <b><label>{% trans "Value" %}</label></b>
                                    </div>
                                </div>

                                {{ item_attribute_formset.management_form }}
                                {% for form in item_attribute_formset %}
                                {{ form.id }}
                                <!--            {{ form.media }}-->
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        {{form.attribute}}
                                    </div>
                                    <div class="form-group col-md-4">
                                                                                {{ form.temp_value}}

                                    <script>
                                    console.log("{{form.instance.attribute.att_type}}")
                                    document.getElementById("{{ form.temp_value.auto_id }}").setAttribute("type", "{{form.instance.attribute.att_type}}");

                                    {% if form.instance.attribute.att_type == 'checkbox' %}
                                             document.getElementById("myCheck").checked = {{ form.temp_value}};
                                             {% endif %}
                                    </script>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div id="empty_form" style="display:none">
                    <table class='no_error'>
                        <div class="form-row">
                            <!--                {{ item_attribute_formset.empty_form.media }}-->

                            <div class="form-group col-md-4">
                                {{ item_attribute_formset.empty_form.attribute}}
                            </div>
                            <div class="form-group col-md-4">
                                {{ item_attribute_formset.empty_form.temp_value}}
                            </div>
                        </div>
                    </table>
                </div>

                <button type="button" id="add_item" class="btn cur-p btn-success">{% trans "Add Attribute "%}
                </button>
                <button type="button" id="add_attribute" data-toggle="modal" data-target="#create"
                        class="btn cur-p btn-success">{% trans "Create New Attribute "%}
                </button>

                <div class="submit-row">
                    <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save'>Save</button>
                    <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save and exit'>Save and Exit
                    </button>
                    {% if not update %}
                    <button type="submit" class="btn btn-primary btn-lg mt-3" name='Save and add'>Save and Add</button>
                    {% endif %}
                </div>

            </form>
        </div>
    </div>

</div>

{% endblock body%}
{% block js %}

<script>
  $('#add_item').click(function() {
  console.log("heloool")
    var form_idx = $('#id_itemattributevalue_set-TOTAL_FORMS').val();
    $('#attribute_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    $('#id_itemattributevalue_set-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    var current_indx = Number(form_idx)





  });




</script>
<script>
function myFunction(object) {
    console.log("Byyeeee")
    var str = object.id
    var res= str.split("-")
    text_id =  res[0]+'-'+res[1]+'-'+'temp_value'
    attribute = object.value
    var endpoint = '{% url "inventory:get-attribute-type" -1 %}'.replace('-1', attribute);
    $.ajax({
        type: "get",
        url: endpoint,
        contentType: 'application/json',
        success: function(data){
                  if (data['att_type'] =='text'){
                  document.getElementById(text_id).setAttribute("type", "text");


                  }
                  else if(data['att_type'] =='number'){
                    document.getElementById(text_id).setAttribute("type", "number");

                 }
                  else if(data['att_type'] =='checkbox'){
                      document.getElementById(text_id).setAttribute("type", "checkbox");
                 }
                  else if(data['att_type'] =='date'){
                      document.getElementById(text_id).setAttribute("type", "date");
                 }





        },
        error: function(){
            alert("error");
        }
         });



};






</script>
<script>
$(function() {


    // This function gets cookie with a given name
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    /*
    The functions below will create a header with csrftoken
    */

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                // Send the token to same-origin, relative URLs only.
                // Send the token only if the method warrants CSRF protection
                // Using the CSRFToken value acquired earlier
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

});


$('#attribute_form').on('submit', function(event){
    event.preventDefault();
    console.log("form submitted!")  // sanity check
    create_attribute();
});

function create_attribute(){
    console.log("create post is working!") // sanity check
    console.log($('#id_name').val())
    console.log("create post is working!") // sanity check
    $.ajax({

        url : '{% url "inventory:create-attribute-ajax" %}',
        type : "POST", // http method
        data : { name : $('#id_name').val(),display_name: $('#id_display_name').val(),att_type: $('#id_att_type').val() }, // data sent with the post request

        // handle a successful response
        success : function(json) {
            console.log(json); // log the returned json to the console
            console.log("success"); // another sanity check
             $('#create').modal('hide');

        },

        // handle a non-successful response
        error : function(xhr,errmsg,err) {
            $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
}



</script>

{% endblock js %}
