{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}
{% block style %}
<style>

  .required
  {
      color: red;
  }
.submit-row {
    display: display;
    padding: 12px 14px;
    margin: 0 0 20px;
    background: #f8f8f8;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: right;
    overflow: hidden;
}
</style>
{% endblock style  %}
{% block body%}

{% include 'messages.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{{title}}</h1>
            <div class="text-zero top-right-button-container">
                <a href="{% url 'inventory:list-stokes' %}">
                    <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">BACK TO LIST</button>
                </a>
            </div>
            <div class="separator mb-5"></div>
        </div>
    </div>

  <div class="card mb-4">
    <div class="card-body">

            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label>Name</label>
                        {{stoke_form.name}}
                    </div>
                    <div class="form-group col-md-4" id="stoke-type">
                        <label>Type</label>
                        {{stoke_form.type}}
                    </div>
                    <div class="form-group col-md-4">
                        <label>Date</label>
                        {{stoke_form.date}}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6" id="location">
                        <label>{{stoke_form.location.label}}</label>
                        {{stoke_form.location}}
                     {{stoke_form.location.errors}}
                    </div>
                    <div class="form-group col-md-6" id="category">
                        <label>{{stoke_form.category.label}}</label>
                        {{stoke_form.category}}
                         {{stoke_form.category.errors}}
                    </div>
                     <div class="form-group col-md-6" id="number">
                        <label>{{stoke_form.random_number.label}}</label>
                        {{stoke_form.random_number}}
                         {{stoke_form.random_number.errors}}
                    </div>
                </div>


         <div class="submit-row">
          <button type="submit" class="btn btn-primary btn-lg mt-3" name ='Save'>Save</button>
          <button type="submit" class="btn btn-primary btn-lg mt-3" name ='Save and exit'>Save and Exit</button>
          <button type="submit" class="btn btn-primary btn-lg mt-3" name ='Save and print'>Save and Print</button>
        </div>
      </form>
    </div>
  </div>


</div>
<script>
if(document.getElementById('id_type').value === 'location') {
    document.getElementById('category').style.display = 'none';
    document.getElementById('number').style.display = 'none';

} else if (document.getElementById('id_type').value === 'category'){
    document.getElementById('location').style.display = 'block';
    document.getElementById('number').style.display = 'none';

} else if (document.getElementById('id_type').value === 'random'){
     document.getElementById('category').style.display = 'none';
     document.getElementById('location').style.display = 'block';

 }
else {
document.getElementById('category').style.display = 'none';
document.getElementById('location').style.display = 'none';
document.getElementById('number').style.display = 'none';


}

function myFunction() {
  if(document.getElementById('id_type').value === 'location') {
    document.getElementById('category').style.display = 'none';
    document.getElementById('number').style.display = 'none';
    document.getElementById('location').style.display = 'block';
    }
  else if(document.getElementById('id_type').value === 'category') {
  document.getElementById('location').style.display = 'block';
  document.getElementById('number').style.display = 'none';
  document.getElementById('category').style.display = 'block';
  }
  else if (document.getElementById('id_type').value === 'random'){
     document.getElementById('category').style.display = 'none';
     document.getElementById('location').style.display = 'block';
       document.getElementById('number').style.display = 'block';


 }
  else {
  document.getElementById('location').style.display = 'none';
  document.getElementById('category').style.display = 'none';
  document.getElementById('number').style.display = 'block';

  }
    }


</script>
{% endblock %}
