{% extends 'master.html' %}
{% load static %}
{% load mptt_tags %}
{% load l10n %}
{% load i18n %}

{% block body%}
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h1>UOM categories</h1>
      <div class="text-zero top-right-button-container">
        <button type="button"  data-toggle="modal" data-target="#create" class="btn btn-primary btn-lg top-right-button mr-1">{% trans "ADD NEW" %}</button>
      </div>
      <div class="separator mb-5"></div>
    </div>
  </div>

    <div class="modal fade" id="create" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Category</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                  <form action="{% url 'inventory:create-uom-category' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label>Category Name <span class="required">*</span></label>
                        {{category_from.name}}
                      </div>
                    </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                       <button type="submit" class="btn btn-primary" name ='Save'>Save Changes</button>
                    </div>
                  </form>

      </div>
    </div>
        </div>
      </div>


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row view-filter">
              <div class="col-sm-12">
              </div>
            </div>
            <table class="data-table data-table-feature3 dataTable no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
              <thead>
                <tr role="row">
                  <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">Category ID</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Category Name" %}</th>
                  <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Actions" %}</th>
                </tr>
              </thead>
              <tbody>
                {% for category in uom_category_list %}
                <tr role="row">
                  <td class="sorting_1">{{ forloop.counter }}</td>
                  <td><a href = "{% url 'inventory:list-uom' category_id=category.id %}">{{ category.name }}</a></td>
                  <td>
                    <div class="dropdown d-inline-block">
                      <a class="btn btn-outline-primary dropdown-toggle mb-1" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                        <a class="dropdown-item" href="{% url 'inventory:update-uom-category' id=category.id %}" data-toggle="modal" data-target="#update-{{category.id}}">{% trans "Update" %}</a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete-modal{{category.pk}}">{% trans "Delete" %}</a>
                      </div>
                    </div>
                  </td>
                </tr>
                <div class="modal fade" id="delete-modal{{category.pk}}" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-body">
                        <p>{% trans "Are you sure you want to delete this record?" %}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "No" %}</button>
                        <a href="{% url 'inventory:delete-uom-category' id=category.pk %}" class="btn btn-danger" type="button">{% trans "Delete" %}</a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="update-{{category.id}}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Category</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                  <form action="{% url 'inventory:update-uom-category' id=category.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label>Category Name <span class="required">*</span></label>
                        {{category_from.name}}
                      </div>
                    </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                       <button type="submit" class="btn btn-primary" name ='Save'>Save Changes</button>
                    </div>
                  </form>

      </div>
    </div>
        </div>
      </div>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body%}