{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body%}
{% include 'messages.html' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{{title}}</h1>
            <div class="text-zero top-right-button-container">
                <a href="{% url 'inventory:list-stokes-for-entry' %}">
                    <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">BACK TO LIST</button>
                </a>
            </div>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        {{stoke_form.name}}
                    </div>
                    <div class="form-group col-md-6" id="stoke-type">
                        <label>Type</label>
                        {{stoke_form.type}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Date</label>
                        {{stoke_form.date}}
                    </div>
                    {% if stoke_form.location.value %}
                    <div class="form-group col-md-6" id="location">
                        <label>{{stoke_form.location.label}}</label>
                        {{stoke_form.location}}
                    </div>
                    {% endif %}
                    {% if stoke_form.category.value %}
                    <div class="form-group col-md-6" id="category">
                        <label>{{stoke_form.category.label}}</label>
                        {{stoke_form.category}}
                    </div>
                    {% endif %}
                     {% if stoke_form.random_number.value %}
                    <div class="form-group col-md-6" id="random">
                        <label>{{stoke_form.random_number.label}}</label>
                        {{stoke_form.random_number}}
                    </div>
                    {% endif %}
                </div>
                 <div class="mb-2">
                    <div class="separator mb-5"></div>
                </div>

                <!-- Stoke entry part  -->
                <table class="table table-bordered" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">

                  {{ stoke_entry_inlineformset.management_form }}
                  {% for form in stoke_entry_inlineformset %}
                  {{ form.id }}
                  {% if forloop.first %}
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending">#</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Location" %}</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Category" %}</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Product" %}</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Item" %}</th>
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Uom" %}</th>
                      {% if approval_mode %}
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "On Hand" %}</th>
                       {% endif %}
                      <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1">{% trans "Stoked Quantity" %}</th>

                    </tr>
                  </thead>
                  {% endif %}
                  <tbody>
                      <tr role="row">
                          <td class="sorting_1">{{ forloop.counter }}</td>
                          <td>{{ form.instance.item.location }}</td>
                          <td>{{ form.instance.item.product.category }}</td>
                          <td>{{ form.instance.item.product }}</td>
                          <td>{{ form.item }}</td>
                          <td>{{ form.instance.item.uom }}</td>
                          {% if approval_mode %}
                          <td>{{form.item.quantity}}</td>
                          {% endif %}
                          <td>{{ form.quantity }}</td>
                      </tr>
                      {% endfor %}
                  </table>
                 <div class="submit-row">
                    <button type="submit" class="btn btn-primary btn-lg mt-3" name ='Save'>Save</button>
                    <button type="submit" class="btn btn-primary btn-lg mt-3" name ='Save and exit'>Save and Exit</button>
                     <button type="submit" class="btn btn-primary btn-lg mt-3" name ='send'>Send to Approval</button>
                 </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
