{% extends 'master.html' %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block body%}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{{title}}</h1>
            <div class="text-zero top-right-button-container">
                <a href="{% url 'inventory:list-stokes' %}">
                    <button type="button" class="btn btn-primary btn-lg top-right-button mr-1">BACK TO LIST</button>
                </a>
            </div>
            <div class="separator mb-5"></div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">

            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        {{stoke_form.name}}
                    </div>
                    <div class="form-group col-md-6" id="stoke-type">
                        <label>Type</label>
                        {{stoke_form.type}}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Date</label>
                        {{stoke_form.date}}
                    </div>
                    {% if stoke_form.location.value %}
                    <div class="form-group col-md-6" id="location">
                        {{stoke_form.location.label}}
                        {{stoke_form.location}}
                    </div>
                    {% endif %}
                    {% if stoke_form.category.value %}
                    <div class="form-group col-md-6" id="category">
                        {{stoke_form.category.label}}
                        {{stoke_form.category}}
                    </div>
                    {% endif %}
                </div>


                <button type="submit" class="btn btn-primary d-block mt-3">Save</button>
            </form>
        </div>
    </div>


</div>

{% endblock %}
